/*

[Custom Stylesheet]

Project: CloudServer - Responsive HTML5 Technology, Web Hosting and WHMCS Template
Version: 1.3
Author : themelooks.com

*/
<tr><td data-label="Domain"><input name="image" type="text" class="form-control" ></td><td data-label="1 Year"><select name="rel1b" name="relation" id="relation"  class="form-control" ><option value=""> </option><option value="পিতা">পিতা</option><option value="মাতা">মাতা</option><option value="স্বামী">স্বামী</option><option value="স্ত্রী">স্ত্রী</option><option value="ভাই">ভাই</option><option value="বোন">বোন</option><option value="পুত্র">পুত্র</option><option value="কণ্যা">কণ্যা</option><option value="দাদা">দাদা</option><option value="দাদী">দাদী</option><option value="নানা">নানা</option><option value="নানী">নানী</option></select></td>NaN class="form-control" ></td></tr>