/* Container holding the image and the text */

@media print{@page {size: landscape}}


.containe{
    height:209mm;
    width:297mm;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

/* Serial-No text */
.Serial-No {
  position: absolute;
  top: 28%;
  left: 36%;
  font-size: 130%;
}

/*Roll No */
.roll {
  position: absolute;
  top: 28%;
  left: 89%;
  font-size: 130%;
}


/* session */
.session {
  position: absolute;
  top: 32%;
  left: 31%;
  font-size: 130%;
}

/* Bottom right text */
.reg {
 position: absolute;
  top: 32%;
  left: 83.5%;
  font-size: 130%;
}


/* Centered text */
.subject {
  position: absolute;
    top: 37.5%;
    left: 43%;
    font-size: 210%;
  font-weight: bold;
  font-family: E111Viva;

}
.name{
  text-transform: capitalize;
    position: absolute;
    top: 44%;
    left: 50%;
    font-size: 200%;
    font-family: E111Viva;
    font-weight: bold;
}
.fathersname{
  text-transform: capitalize;
  position: absolute;
      top: 50%;
    left: 50%;
    font-size: 200%;
  font-family: E111Viva;
    font-weight: bold;

}
.mothersname{
  text-transform: capitalize;
  position: absolute;
  top: 56%;
  left: 30%;
  font-size: 200%;
  font-family: E111Viva;
    font-weight: bold;
}
.month{
  text-transform: capitalize;
  position: absolute;
  top: 62%;
  left: 33%;
  font-size: 185%;;
  font-family: E111Viva;
    font-weight: bold;
}

.form-to{
  text-transform: capitalize;
  position: absolute;
  top: 61%;
  left: 79%;
  font-size: 200%;
  font-family: E111Viva;
    font-weight: bold;
}
.left-at{
  text-transform: capitalize;
  position: absolute;
  top: 67.5%;
  left: 25%;
  font-size: 200%;
  font-family: E111Viva;
    font-weight: bold;
}
.right-at{
  text-transform: capitalize;
  position: absolute;
  top: 67.5%;
  left: 43%;
  font-size: 200%;
  font-family: E111Viva;
  font-weight: bold;
  text-transform: capitalize;
}
.gpa{
  text-transform: capitalize;
  position: absolute;
  top: 73.5%;
  left: 41%;
  font-size: 200%;
  font-family: E111Viva;
  font-weight: bold;
}

.issue{
  text-transform: capitalize;
  position: absolute;
  top: 91%;
  left: 12%;
  font-size: 110%;
}

@font-face {
  font-family: CanterburyRegular-MVqn;
  src: url(fontindex.ttf);
}

@font-face {
  font-family: Commercial_Script_BT;
  src: url(comsc.ttf);
}

@font-face {
  font-family: E111Viva;
  src: url(E111Viva.ttf);
}


.qrcoad{
    height: 143px;
    width: 142px;
    position: absolute;
    left: 6.5%;
    top: 43.5%;
}
.sign{
height: 60px;
    width: 160px;
    position: absolute;
    left: 28.5%;
    top: 81.5%;;
}
.chairman{
height: 60px;
    width: 160px;
    position: absolute;
    left: 78.5%;
    top: 81.5%;;
}
.tik1{
    font-family: wingdings;
    font-size: 134%;
    position: absolute;
    top: 77%;
    left: 9%;
}
.tik2{
    font-family: wingdings;
    font-size: 134%;
    position: absolute;
    top: 80.5%;
    left: 9%;
}.tik3{
    font-family: wingdings;
    font-size: 134%;
    position: absolute;
    top: 84%;
    left: 9%;
}.tik4{
    font-family: wingdings;
    font-size: 134%;
    position: absolute;
    top: 87.5%;
    left: 9%;
}